body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eca9d9;
    margin: 0;
}

#app {
    width: 50%;
    margin: 50px auto;
    background-color: #316db7;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ec0d93;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #df1010;
}

button {
    padding: 10px 20px;
    color: #450404;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0ea5a8;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #6f499f;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li button {
    margin-left: 10px;
}

.pending {
    background-color: #f9f9f9;
}

.complete {
    background-color: #d9ead3;
    text-decoration: line-through;
}
